extends layout

block content
  .main.container
       h1 Groups
        br
        br
        table.table(style="background-color:rgba(0,0,0, .25)")
          tr
            th(style="color:white") ID
            th(style="color:white") Name
            th(style="color:white") Description
            th(style="color:white") Options
            each g in groups
              tr
                td(style="color:white")= g._id
                td(style="color:white")= g.name
                td(style="color:white")= g.description
                td
                  button.btn.btn-logout(onclick="deleteGroup('" + g._id + "')", style="margin-left: 5px") Delete