extends layout

block content
  .main.container
       h1 Groups
        table(border="1")
          tr
            th Name
            th Description
            th Options
            each g in groups
              tr
                td= g.name
                td= g.description
                td
                  button.btn.btn-primary(onclick="joinGroup('" + g._id + "')") Join