extends layout

block content
  .main.container
    h1 Groups
      br
      br
      table.table(style="background-color:rgba(0,0,0, .25)")
        tr
          th(style="color:white") Name
          th(style="color:white") Description
          th(style="color:white") Options
          
          each g in groups
            tr
              td(style="color:white")= g.name
              td(style="color:white")= g.description
              td
                if userI.groups.includes(g.name)
                    button.btn.btn-logout(onclick="exitGroup('" + g._id + "')", style="margin-left: 5px") Exit
                else
                    button.btn.btn-login(onclick="joinGroup('" + g._id + "')", style="margin-left: 5px") Join