doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        // viewport garante que a interface é responsive
        meta(name='viewport', content='device-width, initial-scale=1, shrink-to-fit=no')
        //mostra o conteudo na melhor qualidade possivel (internet explorer)
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title WorkIT
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/icon.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.css')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
        link(rel='stylesheet', href='/stylesheets/full-slider.css')
    body   
        include navbar
        header(class='img-responsive')
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators
                    li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li(data-target='#carouselExampleIndicators', data-slide-to='2')
                    li(data-target='#carouselExampleIndicators', data-slide-to='3')
                .carousel-inner(role='listbox')
                    //primeiro slide - o link é definido na linha abaixo
                    .carousel-item.active(style="background-image: url('https://i.imgur.com/EfUoRRo.jpg')")
                        .carousel-caption.d-none.d-md-block
                            .main.container.text-xs-center
                                br
                                br
                                br
                                img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:150px; display: inline-block;' class='img-fluid')
                                br
                                br
                                h5 This is WorkIT, share your work with your colleagues.
                                br
                    .carousel-item(style="background-image: url('https://i.imgur.com/Mz3rH7D.jpg')")
                        .carousel-caption.d-none.d-md-block
                            .main.container.text-xs-center
                                br
                                br
                                br
                                img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:150px; display: inline-block;' class='img-fluid')
                                br
                                br
                                h5 This is WorkIT, share your work with your colleagues.
                                br
                    .carousel-item(style="background-image: url('https://i.imgur.com/yF4VQ35.jpg')")
                        .carousel-caption.d-none.d-md-block
                            .main.container.text-xs-center
                                br
                                br
                                br
                                img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:150px; display: inline-block;' class='img-fluid')
                                br
                                br
                                h5 This is WorkIT, share your work with your colleagues.
                                br
                    .carousel-item(style="background-image: url('https://i.imgur.com/ReXbOpj.jpg')")
                        .carousel-caption.d-none.d-md-block
                            .main.container.text-xs-center
                                br
                                br
                                br
                                img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:150px; display: inline-block;' class='img-fluid')
                                br
                                br
                                h5 This is WorkIT, share your work with your colleagues.
                                br 
                a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                    span.carousel-control-prev-icon(aria-hidden='true')
                    span.sr-only Previous
                a.carousel-control-nex(href='#carouselExampleIndicators', role='button', data-slide='next')
                    span.carousel-control-next-icon(aria-hidden='true')
                    span.sr-only Next
        block content
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', crossorigin='anonymous')