doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        // viewport garante que a interface é responsive
        meta(name='viewport', content='device-width, initial-scale=1, shrink-to-fit=no')
        //mostra o conteudo na melhor qualidade possivel (internet explorer)
        meta(http-equiv='x-ua-compatible', content='ie=edge')
        title WorkIT | #{title}
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', crossorigin='anonymous')
    body   
        include navbar

