doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  title WorkIT | #{title}
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/icon.css')
  link(rel='stylesheet', href='/stylesheets/font-awesome.css')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous')
  link(rel='stylesheet', href='/stylesheets/index.css')

  body
    include navbar
    block content
    p.foot.text-xs-center Made with 
      i(class='fas fa-heart') 
      t.text-xs-center  by WorkIT

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js', crossorigin='anonymous')
  script(src='https://unpkg.com/axios/dist/axios.min.js')
  script(src='/javascripts/delete.js')