extends layout

block content


  .container-fluid
    br
    br
    br
    .row
      //perfil
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
            h4.card-title
              b=userI.name
          ul.list-group.list-group-flush
            li.list-group-item=userI.number
            li.list-group-item=userI.email
          .card-block
            button.btn.btn-primary(type='button' data-toggle="modal" data-target="#editProfile") Edit Profile
        img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:94%; display: inline-block;' class='img-fluid')

        
      
    