nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    a(class="navbar-brand" href="/" style='padding-left: 50px;')
                img(src='https://i.imgur.com/HjUcbLu.png' style='max-width:30px; display: inline-block;' class='img-fluid')
                span(style="display: inline-block; margin:5px; color:white;") WorkIT
    button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#navbar') &#x2630;
    #navbar.navbar-nav.collapse.navbar-toggleable-md
        .container
            .nav-items.clearfix
                a.nav-item.nav-link(href='/feed') Feed  
                a.nav-item.nav-link(href='/messages') Messages
                a.nav-item.nav-link(href='/groups') Groups  
                a.nav-item.nav-link(href='/events') Events  
                a.nav-item.nav-link(href='/users') Users
                a.nav-item.nav-link(href='/team') Team
                a.nav-item.nav-link(href='/about') About
                div(class="container")
                    if user
                        a.nav-item.nav-link.btn.btn-logout.pull-md-right(href='/auth/logout') Logout
                    else
                        a.nav-item.nav-link.btn.btn-login.pull-md-right(href='/auth/login') Login/Register
            form(method='GET')
                div(class='container h-100')         
                    div(class='d-flex justify-content-center h-100')
                        div(class='searchbar')
                            input.nav-item(class='search_input' type='text' name='search' placeholder='Search')
                            a.nav-item(class='search_icon')
                                i(type='submit' class='fas fa-search' name='searchIcon')