extends layout

block content

  <!-- The Modal Group -->
  div(class="modal" id="editProfile")
    div(class="modal-dialog")
      div(class="modal-content")
      
        <!-- Modal Header -->
        div(class="modal-header")
          h4(class="modal-title") Edit Profile
          button(type="button" class="close" data-dismiss="modal") &times
        
        <!-- Modal body -->
        div(class="modal-body")
          
                button.btn.btn-primary(type='submit' style='width:100%;') Send
        <!-- Modal footer -->
        div(class="modal-footer")
          button(type="button" class="btn btn-danger" data-dismiss="modal") Close


  .container-fluid.gedf-wrapper
    .row
      //perfil
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
            h4.card-title=profile.name
          ul.list-group.list-group-flush
            li.list-group-item=profile.number
            li.list-group-item=profile.email
          .card-block
            button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#editProfile") Edit profile

    
      //grupos e eventos        
      .col-md-9
        .card(style='margin-top: 1rem')
          .card-block
              h4 Create
        .list-group
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newPub") Publication
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newEvent") Event
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newGroup") Group
        .card(style='margin-top: 1rem')  
          .card-block
            h4 Grupos
        .list-group
          each g in profile.groups
            button.list-group-item.list-group-item-action(type='button')=g
        .card(style='margin-top: 1rem')
          .card-block
            h4 Eventos
        .list-group
          each e in profile.events
            button.list-group-item.list-group-item-action(type='button') 
            