extends layout

block content
  .container-fluid.gedf-wrapper
    .row
      //perfil
      .col-md-3
        .card(style='margin-top: 1rem')
          .card-block
            h4.card-title=profile.name
          ul.list-group.list-group-flush
            li.list-group-item=profile.number
            li.list-group-item=profile.email
          .card-block
            a.card-link(href='#') Editar Perfil
    
      //grupos e eventos        
      .col-md-9
        .card(style='margin-top: 1rem')
          .card-block
              h4 Create
        .list-group
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newPub") Publication
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newEvent") Event
          button.list-group-item.list-group-item-action(type='button' data-toggle="modal" data-target="#newGroup") Group
        .card(style='margin-top: 1rem')  
          .card-block
            h4 Grupos
        .list-group
          each g in profile.groups
            button.list-group-item.list-group-item-action(type='button')=g
        .card(style='margin-top: 1rem')
          .card-block
            h4 Eventos
        .list-group
          each e in profile.events
            button.list-group-item.list-group-item-action(type='button') 
            