extends layout

block content
  .main.container
    button.btn.btn-primary(onclick="window.location.href = '/auth/logout'") Logout
    h1 Users
    if users!=null
        each u in users
            h3= u.nome
            h4= u.number