extends layout

block content

  <!-- The Modal Pub -->
  div(class="modal hide" id="addId")
    div(class="modal-dialog").card
      div(class="modal-content")
      
      <!-- Nova publicaçao -->
        <!-- Modal Header -->
        div(class="modal-header")
          h4(class="modal-title") New Message
          button(type="button" class="close" data-dismiss="modal") &times
        
        <!-- Modal body -->
        div(class="modal-body")
          form(action='/messages/newPm' method='POST') 
                label(for='text' class='cols-sm-2 control-label') To
                br
                label(for='text' class='cols-sm-2 control-label') Name:
                  input(type="text" name="myName" id="myName" value="")   
                label(for='text' class='cols-sm-2 control-label') Number:
                  input(type="text" name="myId" id="myId" value="")   
                div.form-group
                  label(for='text' class='cols-sm-2 control-label') Text
                  textarea(rows="4" cols="50" class='form-control' name='text' id='text') 
                div.form-group
                  button.btn.btn-primary(type='submit' style='width:100%;' ) Send
        <!-- Modal footer -->
        div(class="modal-footer")
          button(type="button" class="btn btn-danger" data-dismiss="modal") Close


  .main.container
    h1 Users
      br
      br
      table.table(style="background-color:rgba(0,0,0, .25)")
        tr
          th(style="color:white") Number
          th(style="color:white") Name
          th(style="color:white") Profile
          th(style="color:white") Chat
          
          each u in users
            if u.number!='admin' && u.number != userNumber
              tr
                td(style="color:white")= u.number
                td(style="color:white")= u.name
                td
                  a.card-link(href='/users/profile/' + u.number) Profile
                td
                  a.btn.btn-primary(data-toggle="modal" data-id=u.number data-name=u.name class="open-AddId btn btn-primary" href="#addId") Message





















